generator-config-xml-to-source-code/config/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://generator/gen/schemas" xmlns:schemas="http://generator/gen/schemas">
  <xs:element name="gen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templates"/>
        <xs:element ref="schemas:templateGroupes"/>
        <xs:element ref="schemas:stereotypes"/>
        <xs:element ref="schemas:classes"/>
        <xs:element ref="schemas:genererGroupe"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:template"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
      <xs:attribute name="inDir" use="required" type="xs:NCName"/>
      <xs:attribute name="outDir" use="required"/>
      <xs:attribute name="packageJavaBase" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="template">
    <xs:complexType>
      <xs:attribute name="file" use="required" type="xs:NCName"/>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
      <xs:attribute name="nomElementGenere" use="required" type="xs:NCName"/>
      <xs:attribute name="outDir" use="required"/>
      <xs:attribute name="outFile" use="required" type="xs:NCName"/>
      <xs:attribute name="packageJava" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templateGroupe"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templateRef"/>
      </xs:sequence>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateRef">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotype"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotype">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:classe"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
      <xs:attribute name="packageBase" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:proprieteClasses"/>
        <xs:element ref="schemas:attributs"/>
        <xs:element ref="schemas:methodes"/>
        <xs:element ref="schemas:stereotypeClasses"/>
        <xs:element ref="schemas:associations"/>
        <xs:element ref="schemas:classeParents"/>
      </xs:sequence>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
      <xs:attribute name="nomTable" use="required" type="xs:NCName"/>
      <xs:attribute name="nomVue" use="required" type="xs:NCName"/>
      <xs:attribute name="packageJava" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="proprieteClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:proprieteClasse"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="proprieteClasse">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
      <xs:attribute name="valeur" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attributs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:attribut"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribut">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:proprieteAttributs"/>
        <xs:element ref="schemas:stereotypeAttributs"/>
      </xs:sequence>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="estCleIncrementee" use="required" type="xs:boolean"/>
      <xs:attribute name="estClePrimaire" use="required" type="xs:boolean"/>
      <xs:attribute name="estDansTable" use="required" type="xs:boolean"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nbMax" use="required" type="xs:integer"/>
      <xs:attribute name="nbMin" use="required" type="xs:integer"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
      <xs:attribute name="nomSQL" use="required" type="xs:NCName"/>
      <xs:attribute name="size" use="required" type="xs:integer"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute name="typeSQL" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="proprieteAttributs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:proprieteAttribut"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="proprieteAttribut">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
      <xs:attribute name="valeur" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeAttributs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotypeAttribut"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeAttribut">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="methodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:methode"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="methode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:proprieteMethodes"/>
        <xs:element ref="schemas:parametres"/>
        <xs:element ref="schemas:stereotypeMethodes"/>
      </xs:sequence>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
      <xs:attribute name="retourType" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="proprieteMethodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:proprieteMethode"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="proprieteMethode">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
      <xs:attribute name="valeur" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parametres">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:parametre"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parametre">
    <xs:complexType>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeMethodes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotypeMethode"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeMethode">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotypeClasse"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeClasse">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="associations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:association"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="association">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:associationAttributs"/>
        <xs:element ref="schemas:classeDeAssociation"/>
      </xs:sequence>
      <xs:attribute name="classeGenId" use="required" type="xs:NCName"/>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nbMax" use="required" type="xs:integer"/>
      <xs:attribute name="nbMin" use="required" type="xs:integer"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="associationAttributs">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:associationAttribut"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="associationAttribut">
    <xs:complexType>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classeDeAssociation">
    <xs:complexType>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
      <xs:attribute name="_type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classeParents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:classeParent"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classeParent">
    <xs:complexType>
      <xs:attribute name="classeGenId" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genererGroupe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:genererParClasses"/>
        <xs:element ref="schemas:genererParTemplates"/>
        <xs:element ref="schemas:genererParStereotypes"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genererParClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:genererParClasse"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genererParClasse">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:classeRefPourGenererParClasses"/>
        <xs:element ref="schemas:templateGroupeRefPourGenererParClasses"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="classeRefPourGenererParClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:classeRefPourGenererParClasse"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classeRefPourGenererParClasse">
    <xs:complexType>
      <xs:attribute name="classeGenId" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupeRefPourGenererParClasses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templateGroupeRefPourGenererParClasse"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupeRefPourGenererParClasse">
    <xs:complexType>
      <xs:attribute name="templateGroupeNom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genererParTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:genererParTemplate"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genererParTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templateGroupeRefPourGenererParTemplates"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupeRefPourGenererParTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templateGroupeRefPourGenererParTemplate"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupeRefPourGenererParTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotypeRefPourGenererParTemplates"/>
      </xs:sequence>
      <xs:attribute name="templateGroupeNom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeRefPourGenererParTemplates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotypeRefPourGenererParTemplate"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeRefPourGenererParTemplate">
    <xs:complexType>
      <xs:attribute name="stereotypeNom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genererParStereotypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:genererParStereotype"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="genererParStereotype">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotypeRefPourGenererParStereotypes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeRefPourGenererParStereotypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotypeRefPourGenererParStereotype"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypeRefPourGenererParStereotype">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templateGroupeRefPourGenererParStereotypes"/>
      </xs:sequence>
      <xs:attribute name="stereotypeNom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupeRefPourGenererParStereotypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templateGroupeRefPourGenererParStereotype"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupeRefPourGenererParStereotype">
    <xs:complexType>
      <xs:attribute name="templateGroupeNom" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
