generate-xml-parser/generated/config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://generator/gen/schemas" xmlns:schemas="http://generator/gen/schemas">
  <xs:element name="gen">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:templates"/>
        <xs:element ref="schemas:templateGroupes"/>
        <xs:element ref="schemas:stereotypes"/>
        <xs:element ref="schemas:classes"/>
        <xs:element ref="schemas:generate"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templates">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:template"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
      <xs:attribute name="inDir" use="required" type="xs:NCName"/>
      <xs:attribute name="outDir" use="required"/>
      <xs:attribute name="packageJavaBase" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="templateGroupes">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="schemas:templateGroupe">
          <xs:attribute name="_nb" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotype"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classes">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:classe"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
      <xs:attribute name="packageBase" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:propriete"/>
        <xs:element ref="schemas:attribut"/>
        <xs:element ref="schemas:methode"/>
        <xs:element ref="schemas:stereotype"/>
        <xs:element ref="schemas:association"/>
        <xs:element ref="schemas:parent"/>
      </xs:sequence>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
      <xs:attribute name="nomTable" use="required" type="xs:NCName"/>
      <xs:attribute name="nomVue" use="required" type="xs:NCName"/>
      <xs:attribute name="packageJava" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="methode">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:propriete"/>
        <xs:element ref="schemas:parametre"/>
        <xs:element ref="schemas:stereotype"/>
      </xs:sequence>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
      <xs:attribute name="retourType" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parametre">
    <xs:complexType>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="association">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:attribut"/>
        <xs:element ref="schemas:classeDeAssociation"/>
      </xs:sequence>
      <xs:attribute name="classeGenId" use="required" type="xs:NCName"/>
      <xs:attribute name="description" use="required" type="xs:NCName"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nbMax" use="required" type="xs:integer"/>
      <xs:attribute name="nbMin" use="required" type="xs:integer"/>
      <xs:attribute name="nomJava" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="classeDeAssociation">
    <xs:complexType>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
      <xs:attribute name="_type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="parent">
    <xs:complexType>
      <xs:attribute name="classeGenId" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="generate">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:byClasse"/>
        <xs:element ref="schemas:byTemplateGroupe"/>
        <xs:element ref="schemas:byStereotype"/>
      </xs:sequence>
      <xs:attribute name="_nb" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="byClasse">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="schemas:templateGroupe">
          <xs:attribute name="classeGenId" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="byTemplateGroupe">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="schemas:stereotype"/>
      </xs:sequence>
      <xs:attribute name="templateGroupe" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="byStereotype">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="schemas:templateGroupe">
          <xs:attribute name="stereotype" use="required" type="xs:NCName"/>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="template">
    <xs:complexType>
      <xs:attribute name="file" type="xs:NCName"/>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
      <xs:attribute name="nomElementGenere" type="xs:NCName"/>
      <xs:attribute name="outDir"/>
      <xs:attribute name="outFile" type="xs:NCName"/>
      <xs:attribute name="packageJava" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="templateGroupe">
    <xs:sequence>
      <xs:element ref="schemas:templateGroupe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="templateGroupe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="schemas:template"/>
      </xs:sequence>
      <xs:attribute name="nom" type="xs:NCName"/>
      <xs:attribute name="templateGroupe" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="stereotype">
    <xs:complexType>
      <xs:attribute name="nom" type="xs:NCName"/>
      <xs:attribute name="stereotype" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="propriete">
    <xs:complexType>
      <xs:attribute name="nom" use="required" type="xs:NCName"/>
      <xs:attribute name="valeur" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="attribut">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element ref="schemas:propriete"/>
        <xs:element ref="schemas:stereotype"/>
      </xs:sequence>
      <xs:attribute name="associationId" type="xs:NCName"/>
      <xs:attribute name="description" type="xs:NCName"/>
      <xs:attribute name="estCleIncrementee" type="xs:boolean"/>
      <xs:attribute name="estClePrimaire" type="xs:boolean"/>
      <xs:attribute name="estDansTable" type="xs:boolean"/>
      <xs:attribute name="genId" use="required" type="xs:NCName"/>
      <xs:attribute name="nbMax" type="xs:integer"/>
      <xs:attribute name="nbMin" type="xs:integer"/>
      <xs:attribute name="nomJava" type="xs:NCName"/>
      <xs:attribute name="nomSQL" type="xs:NCName"/>
      <xs:attribute name="size" type="xs:integer"/>
      <xs:attribute name="type" type="xs:NCName"/>
      <xs:attribute name="typeSQL" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
